:root {
  --primary-color: rgb(0, 13, 86);
}
* {
  transition: all 0.5s ease;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  /* overflow-x: hidden; */
}
body {
  font-family: "Microsoft Tai Le", monospace;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
.body-dark-mode {
  background-color: #000000dd;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}

.container {
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.422);
  position: fixed;
  display: none;
}
.container-on {
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.422);
  position: fixed;
  display: grid;
}
.container-off {
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.422);
  position: fixed;
  display: none;
}
.close:hover {
  cursor: pointer;
}
.close {
  transform: scale(2);
  color: yellow;
}
.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}
.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
.theme-toggler.active {
  color: #333;
}
.theme-toggler.active::before {
  background-color: #fff;
}
.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}
#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}
#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}
.container button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}
.container button:hover {
  transform: scale(1.1);
}
.container button#equal {
  height: 130px;
}
/* light theme */

.calculator {
  background-color: #fff;
}
.calculator #display {
  color: #0a1e23;
}
.calculator button#clear {
  background-color: #ffd5d8;
  color: #fc4552;
}
.calculator button.btn-number {
  background-color: #23c1ff;
  color: #000;
}
.calculator button.btn-operator {
  background-color: #ffd0fd;
  color: #f967f3;
}
.calculator button.btn-equal {
  background-color: #18f9c4;
  color: #000;
}
/* dark theme */

.calculator.dark {
  background-color: #071115;
}
.calculator.dark #display {
  color: #f8fafd;
}
.calculator.dark button#clear {
  background-color: #2d191e;
  color: #bd3740;
}
.calculator.dark button.btn-number {
  background-color: #1b2f38;
  color: #f8fafb;
}
.calculator.dark button.btn-operator {
  background-color: #2e1f39;
  color: #aa00a4;
}
.calculator.dark button.btn-equal {
  background-color: #223323;
}

.main {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.chart-canvas {
  width: 85%;
}
.main-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  font-family: "Microsoft Tai Le", monospace;
  transform: translate(1px, 1px);
  height: 53px;
  padding: 4px;
}
.navbar .list {
  display: flex;
  list-style-type: none;
  margin-top: 12px;
}
.navbar .list li {
  margin: 0 20px;
}
.move-tos {
  display: flex;
  flex-direction: column;
}
.mode-btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  width: 12em;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
}
.top-space {
  display: flex;
  flex-direction: row;
}
.in-top-space {
  width: 33.3%;
}
.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}
.sm-credentials {
  display: none;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}
.support-btn {
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 13em;
  margin: 5px;
  color: white;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: white;
}
.email-btn {
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 13em;
  color: white;
  height: 40px;
  display: flex;
  justify-content: space-around;
  margin: 5px;
  align-items: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calc-btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  width: 12em;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.view-btn {
  border: none;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
}
.credentials {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}
.descriptions button:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.top-space button:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
.descriptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em;
}
.in-descriptions {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  padding: 10px;
  margin: 5px;
  height: 10em;
}
.in-descriptions table {
  border-collapse: collapse;
}
.in-descriptions tr {
  margin: 20px;
}
span.menu {
  display: none;
}
dl {
  list-style-type: square;
}
@media screen and (max-width: 1113px) {
  div.list-div {
    display: none;
  }
  span.menu {
    transform: scale(1.5);
    margin: 10px 10px;
    display: flex;
  }
  ul {
    list-style-type: none;
  }
}
@media screen and (max-width: 350px) {
  .calculator {
    transform: scale(0.8);
  }
}
.on-small-screen {
  background-color: var(--primary-color);
}
.cancel {
  display: flex;
  justify-content: right;
  color: white;
}
.close-nav {
  color: white;
  transform: scale(2);
  margin-right: 20px;
}
.sm-list-div {
  margin: 10px;
}
.on-small-screen {
  width: 40%;
  display: none;
  transform: translateX(150%);
  position: absolute;
  margin-top: 40px;
}
.menu:hover {
  cursor: pointer;
}
@media screen and (max-width: 1332px) {
  .descriptions {
    display: grid;
    grid: 50% / auto auto;
  }
  .in-descriptions {
    width: 90%;
    margin: 10px;
  }
}
@media screen and (max-width: 730px) {
  canvas {
    height: 300px;
  }
  .top-space {
    transform: scale(0.9);
    white-space: nowrap;
  }
  .in-descriptions {
    width: 90%;
    margin: 5px;
  }
}
@media screen and (max-width: 693px) {
  .logo {
    transform: scale(0.8) translateX(-20px);
  }
  .credentials:nth-child(2) {
    display: none;
  }
  .sm-credentials {
    display: flex;
  }
  .in-top-space {
    width: 50%;
  }
}
@media screen and (max-width: 620px) {
 .top-space, .charts{
        transform: scale(0.9);
    }
}
